.profile-image {
    position: relative;
    width: 120px;
    margin: auto;
}

.profile-image>img {
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-image>button {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.form-container {
    display: block;
    max-width: 80%;
    margin: auto;
    padding: 48px;
    border-radius: 16px;
}

mat-form-field {
    width: 40%;
    margin-left: 2.55%;
    margin-right: 2.5%;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px !important;
}

.text-center {
    text-align: center;
}