<div class="container">
    <h5 class="card-header text-center">Conocenos :3</h5>
    <div class="card-body">
      <h5 class="card-title text-center">PulpoShop nuestra plataforma de comercio líder en aguascalientes</h5>
      <p class="card-text text-center"> Lanzada en 2015, es una plataforma diseñada para la región, que brinda a los clientes una experiencia de compra en línea fácil, segura y rápida a través de un sólido soporte de pago y cumplimiento.</p>
      <p class="card-text text-center">  Creemos que las compras en línea deben ser accesibles, fáciles y agradables. Esta es la visión que PulpoShop aspira a ofrecer en la plataforma, todos los días.</p>
      <h2 class="card-text text-center">Conoce proximamente nuestra nueva sucursal ubicada en Calle Siempre viva #742 </h2>
      <span class="embed-youtube" style="text-align:center; display: block;"><iframe class="youtube-player" width="551"
          height="310" src="https://www.youtube.com/embed/yVxI9PrKP8w" allowfullscreen="true"></iframe></span>
          <br><br>
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="assets/img/proposito.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Nuestro propósito</h5>
                <p class="card-text">Creemos en el poder transformador de la tecnología y queremos cambiar el mundo para mejor proporcionando una plataforma para conectar compradores y vendedores dentro de una comunidad.</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/img/posicionamiento.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Nuestro posicionamiento</h5>
                <p class="card-text">Para los usuarios de Internet en toda la región, PulpoShop ofrece una experiencia de compra en línea única que brinda una amplia selección de productos, una comunidad social para la exploración y servicios de cumplimiento sin inconvenientes.</p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="assets/img/personalidad.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Nuestra personalidad</h5>
                <p class="card-text">Para definir quiénes somos, cómo hablamos, nos comportamos o reaccionamos ante cualquier situación dada, en esencia, somos simples, felices y juntos. Estos atributos clave son visibles en cada paso del viaje de PulpoShop.</p>
              </div>
            </div>
          </div>
    </div>
</div>
