.form-container {
    display: block;
    max-width: 300px;
    margin: auto;
    padding: 48px;
    border-radius: 16px;
}

mat-form-field , button {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px !important;
}

.text-center {
    text-align: center;
}