<mat-toolbar color="primary">

    <button mat-icon-button class="example-icon" *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span><img src="assets/img/Hex-Shop.png" alt=""></span>

    <span class="example-spacer"></span>
    <form class="example-form-width">
        <mat-form-field class="example-full-width" floatLabel="never">
            <mat-icon class="icon-form" matSuffix>search</mat-icon>
            <mat-label>Buscar producto</mat-label>
            <input matInput #inputSearch autocomplete="off" (keyup)="redirectHome(inputSearch.value)">
        </mat-form-field>
    </form>
    <span class="example-spacer"></span>
    <ng-container *ngIf="user$ | async as user; else loginButton">
        <button mat-button class="example-icon favorite-icon" routerLink="/cart">
            <span>
                <ng-container *ngIf="cart$| async as cart; else noCart">
                    <mat-icon matBadge="{{cart[0].totalProductos}}" matBadgeColor="warn">shopping_cart</mat-icon>
                </ng-container>
                <ng-template #noCart>
                    <mat-icon matBadge="0" matBadgeColor="warn">shopping_cart</mat-icon>
                </ng-template>
            </span>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile">
                <mat-icon>person</mat-icon>
                <span>Perfil</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar Sesion</span>
            </button>
        </mat-menu>
    </ng-container>
    <ng-template #loginButton>
        <button mat-button aria-label="Example icon-button with a menu" (click)="showLoginDialog()">
            <mat-icon>login</mat-icon>
        </button>
        <button mat-button aria-label="Example icon-button with a menu" routerLink="/signup">
            <mat-icon>person_add</mat-icon>
        </button>
    </ng-template>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <ng-container *ngIf="user$ | async as user; else showInicio">
            <img class="avatar mat-elevation-z8" [src]="user.photoURL ?? '/assets/img/profile.png'" />

            <h4 class="name">{{user.displayName}}</h4>

            <mat-divider></mat-divider>

            <button mat-button class="menu-button" [routerLinkActive]="['active']" routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>
            <button mat-button class="menu-button" routerLink="/products" routerLinkActive="active">
                <mat-icon>local_mall</mat-icon>
                <span>Comprar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-button class="menu-button" [routerLinkActive]="['active']" routerLink="/profile">
                <mat-icon>person</mat-icon>
                <span>Perfil</span>
            </button>
            <button mat-button class="menu-button" [routerLinkActive]="['active']" routerLink="/cart">
                <mat-icon>shopping_cart</mat-icon>
                <span>carrito</span>
            </button>
            <ng-container *ngIf="user.isAdmin == true">
                <mat-divider></mat-divider>
                <button mat-button class="menu-button" [routerLinkActive]="['active']" routerLink="/adminUsers">
                    <mat-icon>manage_accounts</mat-icon>
                    <span>usuarios</span>
                </button>
                <button mat-button class="menu-button" [routerLinkActive]="['active']" routerLink="/adminProducts">
                    <mat-icon>store</mat-icon>
                    <span>productos</span>
                </button>
                <button mat-button class="menu-button" [routerLinkActive]="['active']" routerLink="/analytics">
                    <mat-icon>analytics</mat-icon>
                    <span>Analisis</span>
                </button>
            </ng-container>
            <button mat-button class="menu-button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>cerrar sesión</span>
            </button>
            <mat-divider></mat-divider>
        </ng-container>
        <ng-template #showInicio>
            <button mat-button class="menu-button" [routerLinkActive]="['active']" routerLink="/home">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>
            <button mat-button class="menu-button" routerLink="/products" routerLinkActive="active">
                <mat-icon>local_mall</mat-icon>
                <span>Comprar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-button class="menu-button" (click)="showLoginDialog()">
                <mat-icon>login</mat-icon>
                <span>Iniciar Sesión</span>
            </button>
            <button mat-button class="menu-button" routerLink="/signup" [routerLinkActive]="['active']">
                <mat-icon>person_add</mat-icon>
                <span>Crear cuenta</span>
            </button>
            <mat-divider></mat-divider>
        </ng-template>
        <button mat-button class="menu-button" routerLink="/about" routerLinkActive="active">
            <mat-icon>info</mat-icon>
            <span>Acerca de</span>
        </button>
        <button mat-button class="menu-button" routerLink="/contact" [routerLinkActive]="['active']">
            <mat-icon>call</mat-icon>
            <span>Contacto</span>
        </button>

        <button mat-button class="menu-button" routerLink="/help" [routerLinkActive]="['active']">
            <mat-icon>help</mat-icon>
            <span>Ayuda</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>